	/*Page right*/
	.slideRight-leave-active,
	.slideRight-enter-active,
	.slideLeft-leave-active,
	.slideLeft-enter-active {
		transition: transform 1s ease-in-out, opacity 1s ease-in-out;
	}
	.slideRight-enter-from,
	.slideLeft-leave-to {
		opacity: 0;
		transform: translateX(100vw);
	}
	.slideRight-leave-to,
	.slideLeft-enter-from {
		opacity: 0;
		transform: translateX(-100vw);
	}

	/*FADE*/
	.fade-leave-active,
	.fade-enter-active {
		transition: opacity 1s ease-in-out;
	}
	.fade-enter-from,
	.fade-leave-to {
		opacity: 0
	}